/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

image {
  image-rendering: smooth;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
