/* Margin */
.m-1 { margin: 0.3125rem; } /* 5px */
.m-2 { margin: 0.625rem; }   /* 10px */
.m-3 { margin: 0.9375rem; }  /* 15px */
.m-auto { margin: auto; }

/* Padding */
.p-1 { padding: 0.3125rem; } /* 5px */
.p-2 { padding: 0.625rem; }   /* 10px */
.p-3 { padding: 0.9375rem; }  /* 15px */

/* Alignment */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-gap {
  gap: 1rem;
}

/* Width */
.w-100 { width: 100%; }
.w-50 { width: 50%; }
.w-33 { width: 33.33%; }
.w-25 { width: 25%; }
.w-20 { width: 20%; }
.w-10 { width: 10%; }

/* Height */
.h-100 { height: 100%; }
.h-50 { height: 50%; }
.h-33 { height: 33.33%; }
.h-25 { height: 25%; }
.h-20 { height: 20%; }
.h-10 { height: 10%; }

/* background */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-tertiary { background-color: var(--color-tertiary); }
.bg-light { background-color: var(--color-light); }
.bg-dark { background-color: var(--color-dark); }

